tr td {
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
}

table {
    border-spacing: 5px;
    margin-left: -4px;
}

td:first-child {
    background-color: #cccccc;
}

td:nth-child(2) {
    background-color: #999999;
}

td:nth-child(3) {
    background-color: #666666;
}

td:last-child {
    background-color: #333333;
}