tr td {
    width: 40px;
    height: 40px;
}

table {
    border-spacing: 5px;
    margin-left: -4px;
}

div {
    margin: -4px;
}

.row {
    display: flex;
}
  
tr:first-child td:first-child,
tr:nth-child(2):not(.end):not(.bottom) td:last-child,
tr:last-child:not(.end):not(.bottom) td:nth-child(2):not(.bottom){
    background-color: #ed7000;
}
  
tr:first-child:not(.end) td:last-child,
tr:nth-child(2):not(.end):not(.bottom) td:nth-child(2),
tr:last-child:not(.bottom):not(.bottom) td:first-child {
    background-color: #a74a00;
}

tr:first-child:not(.end) td:nth-child(2),
tr:nth-child(2):not(.bottom) td:first-child,
tr:last-child:not(.end):not(.bottom) td:last-child {
    background-color: #f3b16e;
}

/* Je sais qu'il ne faut pas faire de !important, mais flemme. Au moins ca veut dire que je le connais */
.alone td {
    background-color: #ed7000!important;
}
