body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
}

li {
    margin: 100px 0;
}
a {
    text-decoration: none;
    font-size: 60px;
}