:root {
    --red: #d83e3c;
    --yellow: #f5c141;
    --purple: #a749a8;
    --l-blue: #a9dcf2;
    --blue: #4ba6a7;
    --l-yellow: #fae53b;

    --size: 150px;
    --pos1: 0px;
    --pos2: 150px;
    --pos3: 300px;
    --pos4: 450px;
    --pos5: 600px;
    --pos6: 750px;
    --pos7: 900px;
}

/* Position */

.pos1 {
    left: var(--pos1);
}

.pos2 {
    left: var(--pos2 )
}

.pos3 {
    left: var(--pos3 )
}

.pos4 {
    left: var(--pos4)
}

.pos5 {
    left: var(--pos5);
}

.pos6 {
    left: var(--pos6);
}

.pos7 {
    left: var(--pos7)
}

/* Border */

.border-red {
    background-color: var(--red);
}

.border-yellow {
    background-color: var(--yellow);
}

.border-l-blue {
    background-color: var(--l-blue);
}

.border-l-yellow {
    background-color: var(--l-yellow);
}

/* Color */

.purple {
    border-left : var(--size) solid var(--purple);
}

.yellow {
    border-right : var(--size) solid var(--yellow);

}

.l-blue {
    border-left: var(--size) solid var(--l-blue);
}

.blue {
    border-right : var(--size) solid var(--blue);

}

.l-yellow {
    border-left: var(--size) solid var(--l-yellow);
}

.red {
    border-right: var(--size) solid var(--red);
}

.right-tr {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 77px solid transparent;
    border-bottom : 77px solid transparent;
    
}

.left-tr {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 77px solid transparent;
    border-bottom : 77px solid transparent;
}

/* First column */
.tr1 {
    position: absolute;
}

.tr2 {
    position: absolute;
    top: 84px;
}

.tr3 {
    position: absolute;
    top: 161px;
}

.tr4 {
    position: absolute;
    top: 238px
}

.tr5 {
    position: absolute;
    top: 314px;
}

.tr6 {
    position: absolute;
    top: 391px;
    z-index: 2;
}

.tr7 {
    position: absolute;
    top: 468px;
}

/* Second Column */

.tr8 {
    position: absolute;
}

.tr9 {
    position: absolute;
    top: 84px;
}

.tr10 {
    position: absolute;
    top: 161px;
}

.tr11 {
    position: absolute;
    top: 238px;
}

.tr12 {
    position: absolute;
    top: 314px;
}

.tr13 {
    position: absolute;
    top: 391px;
    z-index: 2;
}

.tr14 {
    position: absolute;
    top: 468px
}